<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">模板值</div>

    <p>{{title}}</p>
    <p>{{title2}}</p>
    <p>{{title3}}</p>

    <br>
    <button (click)="getValue()">点我</button>
    <button (click)="setValue(title3)">设置</button>
    <input type="text" ng-model="title3">


    <h1>{{title}}</h1>
    <h2>{{hero.name}}--------------details!</h2>
    <div><label>id:</label>{{hero.id}}</div>
    <div><label>name:</label>{{hero.name}}</div>
    <!-- 编辑英雄名字 -->
    <div>
      <label>name:</label>
      <!-- <input [(ngModel)]="hero.name" placeholder="name"> -->
      <input [(ngModel)]="hero.name" placeholder="name">
    </div>


    <h2>My Heroes</h2>
    <ul>
      <li *ngFor="let hero of heros">
        <span>{{hero.id}}</span> ---
        <span>{{hero.name}}</span>
      </li>
    </ul>
  </div>
</div>